<modal [animation]="false" [keyboard]="true" [backdrop]="false" (onClose)="closed()" (onDismiss)="dismissed()" [cssClass]="false"
	#modal>
	<form #modalForm="ngForm">
		<modal-header [show-close]="true">
			<h4 class="modal-title">Create Contract</h4>
		</modal-header>
		<modal-body>
			<div class="form-group">
				<label for="ticker">Ticker</label>
				<select class="form-control" required [(ngModel)]="contractModel.ticker" name="ticker" id="ticker">
					<option *ngFor="let o of tickers" [value]="o.key">{{o.value}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="par">Price</label>
				<input type="text" class="form-control" required [(ngModel)]="contractModel.par" name="par" id="par">
			</div>
			<div class="form-group">
				<label for="qty">Quantity</label>
				<input type="text" class="form-control" required [(ngModel)]="contractModel.qty" name="qty" id="qty">
			</div>
			<div class="form-group">
				<label for="maturity">Maturity</label>
				<select class="form-control" required [(ngModel)]="contractModel.maturity" name="maturity" id="maturity">
					<option *ngFor="let o of maturities" [value]="o.key">{{o.value}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="discount">Discount</label>
				<select class="form-control" required [(ngModel)]="contractModel.discount" name="discount" id="discount">
					<option *ngFor="let o of discounts" [value]="o.key">{{o.value}}</option>
				</select>
			</div>
		</modal-body>
		<modal-footer>
			<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
			<button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="modal.close()">Save</button>
		</modal-footer>
	</form>
</modal>