<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<dl>
			<dt>Account</dt>
			<dd>{{account.id}}</dd>
		</dl>
		<dl *ngIf="account.id != 'validator'">
			<dt>Cash Balance</dt>
			<dd>{{account.cashBalance | currency}}</dd>
		</dl>
		<button *ngIf="account.id != 'validator'" type="button" class="btn btn-primary" (click)="contractForm.modal.open()">Create Contract</button>
	</div>
	<contract-form></contract-form>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<ul class="nav nav-tabs">
			<li class="active" *ngIf="account.id != 'validator'"><a href="#issued" data-toggle="tab" aria-expanded="true">Issued</a></li>
			<li class=""  *ngIf="account.id != 'validator'"><a href="#assets" data-toggle="tab" aria-expanded="false">Assets</a></li>
			<li class="" *ngIf="account.id != 'validator'"><a href="#contracts" data-toggle="tab" aria-expanded="false">Market</a></li>
			<li class="active" *ngIf="account.id == 'validator'"><a href="#validator" data-toggle="tab" aria-expanded="false">Contracts</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="issued" *ngIf="account.id != 'validator'">
				<div class="row" *ngFor="let contract of contracts" class="contract">
					<template ngFor let-owner [ngForOf]="contract.owner">
						<template [ngIf]="account.id == contract.issuer && owner.company == account.id">
							<div [ngClass]="contract.validated ? 'panel panel-primary' : 'panel panel-danger'">
								<div class="panel-heading">
									<h3 class="panel-title">{{contract.cusip}}</h3>
								</div>
								<div class="panel-body">
									<div class="col-sm-1">{{contract.ticker}}</div>
									<div class="col-sm-2">{{contract.par | currency}}</div>
									<div class="col-sm-2">Issued {{contract.qty}} SKU</div>
									<div class="col-sm-2">{{contract.maturity}} days @ {{contract.discount}}%</div>
									<div class="col-sm-2">
										Available {{owner.quantity}} SKU
									</div>
									<div class="col-sm-1">{{contract.issuer}}</div>
									<div class="col-sm-2">{{contract.issueDate | date}}</div>
									<div class="col-sm-1"><button *ngIf="contract.issuer != account.id" class="btn btn-success btn-sm" (click)="open(contract.cusip, contract.issuer)">Purchase</button></div>
								</div>
							</div>
						</template>
					</template>
				</div>
			</div>
			<div class="tab-pane fade in" id="assets" *ngIf="account.id != 'validator'">
				<div class="row" *ngFor="let contract of contracts" class="contract">
					<template ngFor let-owner [ngForOf]="contract.owner">
						<template [ngIf]="account.id != contract.issuer && owner.company == account.id && owner.quantity > 0">
							<div [ngClass]="'panel panel-info'">
								<div class="panel-heading">
									<h3 class="panel-title">{{contract.ticker}} {{contract.cusip}}</h3>
								</div>
								<div class="panel-body">
									<div class="col-sm-1">{{contract.ticker}}</div>
									<div class="col-sm-2">{{contract.par | currency}}</div>
									<div class="col-sm-2">{{owner.quantity}} SKU</div>
									<div class="col-sm-2">{{contract.maturity}} days @ {{contract.discount}}%</div>
									<div class="col-sm-1">{{contract.issuer}}</div>
									<div class="col-sm-2">{{contract.issueDate | date}}</div>
									<div class="col-sm-1"></div>
								</div>
							</div>
						</template>
					</template>
				</div>
			</div>
			<div class="tab-pane fade" id="contracts" *ngIf="account.id != 'validator'">
				<div class="row" *ngFor="let contract of contracts" class="contract">
					<template ngFor let-owner [ngForOf]="contract.owner">
						<template [ngIf]="owner.company == contract.issuer && owner.quantity > 0 && contract.validated">
							<div [ngClass]="contract.issuer == account.id ? 'panel panel-primary' : 'panel panel-success'">
								<div class="panel-heading">
									<h3 class="panel-title">{{contract.cusip}}</h3>
								</div>
								<div class="panel-body">
									<div class="col-sm-1">{{contract.ticker}}</div>
									<div class="col-sm-2">{{contract.par | currency}}</div>
									<div class="col-sm-2">Available {{owner.quantity}} SKU</div>
									<div class="col-sm-2">{{contract.maturity}} days @ {{contract.discount}}%</div>
									<div class="col-sm-1">{{contract.issuer}}</div>
									<div class="col-sm-2">{{contract.issueDate | date}}</div>
									<div class="col-sm-1"><button *ngIf="contract.issuer != account.id" class="btn btn-success btn-sm" (click)="open(contract.cusip, contract.issuer)">Purchase</button></div>
								</div>
							</div>
						</template>
					</template>
				</div>
			</div>
			<div class="tab-pane fade in active" id="validator" *ngIf="account.id == 'validator'">
				<div class="row" *ngFor="let contract of contracts" class="contract">
					<template ngFor let-owner [ngForOf]="contract.owner">
						<template [ngIf]="owner.company == contract.issuer && !contract.validated">
							<div [ngClass]="'panel panel-danger'">
								<div class="panel-heading">
									<h3 class="panel-title">{{contract.cusip}}</h3>
								</div>
								<div class="panel-body">
									<div class="col-sm-1">{{contract.ticker}}</div>
									<div class="col-sm-2">{{contract.par | currency}}</div>
									<div class="col-sm-2">Issued {{contract.qty}} SKU</div>
									<div class="col-sm-2">{{contract.maturity}} days @ {{contract.discount}}%</div>
									<div class="col-sm-1">{{contract.issuer}}</div>
									<div class="col-sm-2">{{contract.issueDate | date}}</div>
									<div class="col-sm-1"><button class="btn btn-danger btn-sm" (click)="validate(contract.cusip)">Validate</button></div>
								</div>
							</div>
						</template>
					</template>
				</div>
			</div>
		</div>
	</div>
</div>
<modal [animation]="false" [keyboard]="true" [backdrop]="false" (onClose)="closed()" (onDismiss)="dismissed()" [cssClass]="false"
	#modal>
	<form #modalForm="ngForm">
		<modal-header [show-close]="true">
			<h4 class="modal-title">Purchase Contract</h4>
		</modal-header>
		<modal-body>
			<div class="form-group">
				<label for="qty">Quantity</label>
				<input type="text" class="form-control" required [(ngModel)]="transfer.quantity" name="qty" id="qty">
			</div>
		</modal-body>
		<modal-footer>
			<button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
			<button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="modal.close()">Save</button>
		</modal-footer>
	</form>
</modal>