<nav class="navbar navbar-info" *ngIf="isLoggedIn">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!--<img class="navbar-left" src="/public/images/logo.png" width="50" height="50">-->
			<a class="navbar-brand" routerLink="/dashboard">SMART CONTRACTS</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse navbar-info-collapse  navbar-right">
			<ul class="nav navbar-nav">
				<li><a (click)="logout()" href="#">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<router-outlet></router-outlet>
	<login *ngIf="!isLoggedIn">></login>
</div>