<div class="row centered login-form">
	<div class="well col-md-4" id="login">
		<form class="form-horizontal" #heroForm="ngForm">
			<fieldset>
				<legend>Login</legend>
				<div class="form-group">
					<label for="username" class="col-md-2 control-label">Username</label>
					<div class="col-md-10">
						<input type="text" [(ngModel)] = "username" name="username" class="form-control" id="username" placeholder="Username" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button type="button" class="btn btn-default">Cancel</button>
						<button type="button" (click)="login()" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>